﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
}

/* Board */
.board {
}

.board .cell {
    width: 80px;
    height: 80px;
    border: 2px solid #000;
    text-align: center;
    background: #080;
}

.cell.move .available {
    opacity: 0;
}

.cell.move:hover .available {
    opacity: 0.5;
}

.board .header {
    text-align: center;
}
.board .row-header {
    text-align: center;
    width: 32px;
}

.board .bottom-edge {
    border-bottom: 6px solid #000;
}
.board .top-edge {
    border-top: 6px solid #000;
}
.board .left-edge {
    border-left: 6px solid #000;
}
.board .right-edge {
    border-right: 6px solid #000;
}

.blackDisk {
    fill: #000;
}

.whiteDisk {
    fill: #fff;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
