﻿@model CellViewModel
@{
    var moveClass = Model.IsMove ? "move" : string.Empty;
}
<td class="cell @moveClass">
    @if (Model.IsMove)
    {
        <a asp-action="Move" asp-route-move="@Model.Coordinates" asp-route-transcript="@Model.Game.Transcript">
            <partial model="@Model" name="_Disk" />
        </a>
    }
    else
    {
        <partial model="@Model" name="_Disk" />
    }
</td>