﻿@using Reversi.Core.Engine
@model CellViewModel
@{
    var diskState = string.Empty;
    switch (Model.Disk)
    {
        case DiskState.Empty:
            break;
        case DiskState.Black:
            diskState = "blackDisk";
            break;
        case DiskState.White:
            diskState = "whiteDisk";
            break;
        default:
            throw new ArgumentOutOfRangeException();
    }
    var moveClass = Model.IsMove ? "available" : string.Empty;
}
@if (!string.IsNullOrWhiteSpace(diskState))
{
    <svg class="@moveClass" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
         x="0px" y="0px" width="64px" height="64px" 
         viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <filter id="AI_GaussianBlur_4">
            <feGaussianBlur stdDeviation="4"></feGaussianBlur>
        </filter>
        <g opacity="0.5" filter="url(#AI_GaussianBlur_4)">
            <circle cx="33" cy="34" r="26"/>
        </g>
        <circle class="@diskState" cx="30" cy="30" r="27"/>
    </svg>
}
