﻿@using Reversi.Core.Engine
@model GameViewModel
@{
    var game = new Game(Model.Transcript);
    var cellList = game.BoardState.Select((s, i) =>
    {
        var coordinates = Board.CoordinatesFromIndex(i);
        var isMove = game.AvailableMoves.Contains(coordinates);
        return new CellViewModel
        {
            Game = game,
            Coordinates = coordinates,
            Disk = isMove ? game.CurrentDisk : s,
            IsMove = isMove
        };
    }).ToList();
}
<h1 class="display-1">Reversi</h1>

<div class="row">
    <div class="col-md-8">
        <table class="board">
            <thead>
            <tr>
                <td>&nbsp;</td>
                @foreach(var c in Enumerable.Range('a', 8))
                {
                    <th class="header bottom-edge">
                        @((char)c)
                    </th>
                }
                <td>&nbsp;</td>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <td>&nbsp;</td>
                @foreach(var c in Enumerable.Range('a', 8))
                {
                    <th class="header top-edge">
                        @((char)c)
                    </th>
                }
                <td>&nbsp;</td>
            </tr>
            </tfoot>
            <tbody>
            @foreach(var i in Enumerable.Range(1, 8))
            {
                <tr>
                    <th class="row-header right-edge">@i</th>
                    @foreach (var j in Enumerable.Range(1, 8))
                    {
                        var index = Board.IndexFromXy(i - 1, j - 1);
                        <partial model="@cellList[index]" name="_Cell"/>
                    }
                    <th class="row-header left-edge">@i</th>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h2>
            Score
            @if (game.BoardState.Count() != 4 && game.Score[DiskState.Black] != 2 && game.Score[DiskState.White] != 2)
            {
                <a class="btn btn-success" asp-action="Index">New Game</a>
            }

        </h2>
        <hr/>
        <div class="row">
            <div class="col-md-4">
                <h3>
                    @if (game.CurrentDisk == DiskState.Black)
                    {
                        <i class="fa fa-caret-right"></i>
                    }
                    Black
                </h3>
            </div>
            <div class="col-md-8">
                <h3>@game.Score[DiskState.Black]</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>
                    @if (game.CurrentDisk == DiskState.White)
                    {
                        <i class="fa fa-caret-right"></i>
                    }
                    White
                </h3>
            </div>
            <div class="col-md-8">
                <h3>@game.Score[DiskState.White]</h3>
            </div>
        </div>
    </div>
</div>

